$body-font-family: "Open Sans", sans-serif;
$body-text-color: #262626;

$color-white:  #ffffff ;
$color-black: #262626;
$color-blue: #41b4b4;
$color-blue-dark: #318787;

$color-blue-light: #51A7A7;
$color-blue-table-border: #B8E3E3;
$color-orange: #f8a063;

$content-width: 870px;
$nav-width: 300px;
$header-height: 100px;
$logo-width: 100px ! default;
$logo-height: 100px ! default;

$link-color: #f8a063;


a {
    color: $link-color;
    text-decoration: none;
  }

.text-black {
    color: $color-black !important;
}

.text-blue {
    color: $color-blue !important;
}

.text-white{
  color: $color-white !important;
}

.text-blue-light {
  color: #51A7A7 !important;
}
.text-blue-pale {
  color: #B8E3E3 !important;
}
.bg-color-blue-pale {
  background-color: #B8E3E3 !important;
}

.text-blue-dark {
  color: #318787 !important;
}
.bg-color-blue-dark {
  background-color: #318787 !important;
}

.text-orange {
  color: $color-orange !important;
}

.bg-color-blue-light {
  background-color: #51A7A7 !important;
}

.bg-color-blue {
  background-color: $color-blue !important;
}

.bg-color-orange {
  background-color: $color-orange !important;
}

.text-josefin{
  font-family: 'Josefin Sans', sans-serif;
}

.text-justify{
  text-align: justify;
}

.main-content ul.bp-blue{
  list-style: none;
  li::before {
    content: "•";
    color: #41b4b4;
    display: inline-block;
    width: 1em;
    margin-left: -1em
  }
  ul {list-style: none;}
  ul ::before {
    color: #41b4b4;
  }
  ul ul {list-style: none;}
  ul ul ::before {
    color:#41b4b4;
  }
}

.main-content ol.nl-blue{
  li::before {
    color: #41b4b4;
  }
  ol ::before {
    color: #41b4b4;
  }
  ol ol ::before {
    color:#41b4b4;
  }
}
